@CHARSET "UTF-8";

#brandsContainer {
	background-color: #393939;
	clear: both;
	color: #fff;
	font-size: 14px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	text-align: center;
}

#ourBrands {
	width: 80%;
	margin: 0 auto;
}

#ourBrands li {
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

#ourBrands img {
	padding-top: 10px;
}

#footerContainer, #footerBottom {
	background: url(../assets/footerbackground.png);
	clear: both;
	color: #ccc;
	font-size: 14px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
    padding-right: 20px;
}

.footerFloatLeft {
	float: left;
	margin: 0 40px 0 0;
	width: 235px;
}

.footerFloatRight {
	float: right;
	width: 235px;
}

.footerPadRight
{
	padding-right: 20px;
}

/* .googleMap */
/* { */
/* 	cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; */
/* } */

/* .gm-style * { */
/*   width:auto; */
/*   height:auto; */
/* } */

#footerBottom {
	background: url(../assets/footer-line.png) repeat-x;
	overflow: hidden;
	padding: 42px 0 40px;
	text-align: center;
    width: 90%;
}

#footerBottom .creds {
	float: right;
	text-align: right;
	padding-right: 20px;
}

#footerBottom .gototop a {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #555 url(../assets/return-top.png) center left no-repeat;
	border-radius: 5px;
	color: #fff;
	padding: 11px 15px 9px 35px;
	text-transform: uppercase;
}