@CHARSET "UTF-8";
#header
{
    background-color: #F8E000; 
    background-image: url(../assets/headerbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
}

#headerTitle a 
{
    display: block;
    float: left;
    height: 120px;
    overflow: hidden;
    padding: 0;
    width: 90%;
    margin-left: 5%;
}


#headerDescription 
{
    display: none;
}

#mainMenu 
{   
    background-image: url(../assets/navbackground.png);  /* use a small image background if neither of the gradients are supported. */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f27e6d), to(#ef1b00), to(#f41e02), to(#e54a12), to(#ed1700), to(#ea1300), to(#e06d64));
    background-image: -moz-linear-gradient(19% 75% 90deg, #f27e6d, #e06d64);
    font-size:16px;
    line-height: 1.5;
    display: block;
}

#mainMenu a
{
    white-space:nowrap;
    color:#fff;
    text-decoration: none;
}

#mainMenu a.active
{
    font-weight: normal;
    color: black;
    text-decoration: none;
}

#mainMenu a:hover
{
    white-space:nowrap;
    color:black;
    text-decoration: none;
}

#mainMenu ul
{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px; 
}

#mainMenu li
{
    display: inline;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

#mainMenu li:hover
{
    color: black;
    background-color: yellow;
    border: 2px solid #000;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 18px;
    padding-right: 18px;
}

#divMainMenu.menulist
{
	background: transparent;
}

#divMainMenu
{
    font-size:16px;
    line-height: 1.5;
    min-height: 120px;
    text-align: right;
    position: relative;
    margin-left: 200px;
    margin-right: 5%;    
}

#divMainMenu ul
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#divMainMenu li
{
    display: inline;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
    text-align: center;
    font-size: 15px;
    background-color: white;
}

#divMainMenu span
{
    white-space:nowrap;
    margin-right: 5px;
}

#divMainMenu li.active
{
    background-color: orange;
}

#divMainMenu li:hover
{
    background-color: yellow;
    border: 2px solid #000;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 18px;
    padding-right: 18px;
}
