@CHARSET "UTF-8";

html, body 
{
    margin: 0;
    min-height: 100%;
}

body 
{
  position: relative; 
}

.largePicSlider
{
    background-image: url(../assets/picSliderBackground.png);  /* use a small image background if neither of the gradients are supported. */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2664CD), to(#3D83E2));
    background-image: -moz-linear-gradient(19% 75% 90deg,#3D83E2, #2664CD);
    width: 100%;
    height: auto; 
    margin: 0 auto;
}

.largePicSliderTransparent
{
    width: 100%;
    height: auto; 
    margin: 0 auto;
}

.picSliderContainer
{
    text-align: center; 
/*     padding-top: 10px; */
/*     padding-bottom: 10px; */
/*     padding-left: 10px; */
/*     padding-right: 10px; */
    position:relative;
}


div.imgContainer
{
	max-width: 96%;
	height: auto; 
	text-align: center; 
	margin: 0 auto;
}

.shadowed
{
    -webkit-box-shadow: 0px 4px 30px 0px #555555;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 4px 30px 0px #555555;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 4px 30px 0px #555555;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.bordered
{
	border: 15px solid;
	border-color: white;
	border-radius: 5px;
}

.rounded
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

img.responsive-fill 
{
    width : 100%;
    height: auto;
}

img.responsive-shrinkWidth
{
    max-width : 100%;
    height: auto;
}

img.responsive-shrinkHeight
{
    max-height : 100%;
    width: auto;
}

.breathing 
{
  max-height: 400px;
}

div.responsive-shrinkWidth
{
/*     margin-top:20px; */
/*     margin-bottom: 20px; */
/*     margin-left:-1%; */
/*     margin-right:-1%; */
    width: 100%;
}

div.inline-bordered-300px
{
	display: inline-block;
    vertical-align: top;
    padding:20px;
    border:1px solid #eee;
    -webkit-box-shadow: 0 1px 2px 1px #eee;
    box-shadow: 0 1px 2px 1px #eee;
    width: 100%;
    max-width: 300px;   
}

div.divWithBackground
{
    background-size: 100% 100%;
    padding-bottom: 5%;
}

div.fullWidthExpandHeight
{
    width: 100%; 
    height: auto;
}

.centered
{
    width : 100%;
    text-align: center;
}

.alignRight
{
    text-align: right;
    width: 100%;
}

.bolded
{
    font-weight: bold;
}

.largered
{
	color: #ff0000;
	font-size: 30px;
}

.largeblack
{
    color: #000000;
    font-size: 30px;
}

.mediumred
{
    color: #ff0000;
    font-size: 14px;
}

.columnedContainer
{
	width: 100%;
}

.columned
{
	width: 200px;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
}

.blockdisplay
{
    display: block;
}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}

    
@media all and (min-width: 960px) 
{
.responsiveTextLarge
{
    font-size: 50px;
}
.responsiveText
{
    font-size: 25px;
}
.responsiveTextSmall
{
    font-size: 10px;
}
}

@media all and (max-width: 959px) and (min-width: 600px) 
{
.responsiveTextLarge
{
    font-size: 5vw;
}
.responsiveText
{
    font-size: 2.5vw;
}
.responsiveTextSmall
{
    font-size: 1vw;
}
}

@media all and (max-width: 599px) and (min-width: 50px) 
{
.responsiveTextLarge
{
    font-size: 6vw;
}
.responsiveText
{
    font-size: 3vw;
}
.responsiveTextSmall
{
    font-size: 1.5vw;
}
}

