<div id="footer-widgets" class="footer-widgets">
	<div class="wrap">
		<div class="footer-widgets-1 widget-area">
			<div id="text-5" class="widget widget_text">
				<div class="widget-wrap">
					<div class="textwidget">
						<h2 style="text-align: center;">
							<span style="color: #ff0000;">Call For Availability </span>
						</h2>
						<h3 style="text-align: center;">
							<span style="color: #ff0000;">&amp; </span>
						</h3>
						<h2 style="text-align: center;">
							<span style="color: #ff0000;">Specials</span>
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-widgets-2 widget-area">
			<div id="text-8" class="widget widget_text">
				<div class="widget-wrap">
					<div class="textwidget">
						<h3 style="text-align: center;">
							<span
								style="text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.66); color: #3677DB;">W10003
								Wisconsin 54, Black River Falls, WI 54615</span>
						</h3>
						<h2 style="text-align: center;">
							<span
								style="text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.66);; color: #3677DB;">(715)
								284-4001</span>
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-widgets-3 widget-area">
			<div id="text-9" class="widget widget_text">
				<div class="widget-wrap">
					<div class="textwidget">
						<h3 style="text-align: center;">
							<span style="color: #ff0000;">Store Hours </span>
						</h3>
						<h4 style="text-align: center;">
							<span style="color: #ff0000;">Mon. - Fri. <br> 8 a.m.
								- 7 p.m.
							</span>
						</h4>
						<h4 style="text-align: center;">
							<span style="color: #ff0000;">Sat. 8 a.m. - 6 p.m.</span>
						</h4>
						<h4 style="text-align: center;">
							<span style="color: #ff0000;">Sun. Noon - 5 p.m.</span>
						</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-widgets-4 widget-area">
			<div id="text-7" class="widget widget_text">
				<div class="widget-wrap">
					<div class="textwidget">
						<iframe width="300" height="200" frameborder="0" scrolling="no"
							marginheight="0" marginwidth="0"
							src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Black+River+Furniture+Outlet,+Wisconsin+54,+Black+River+Falls,+WI&amp;aq=0&amp;oq=black+river+furnitur&amp;sll=37.6,-95.665&amp;sspn=60.867771,135.263672&amp;ie=UTF8&amp;hq=Black+River+Furniture+Outlet,+Wisconsin+54,+Black+River+Falls,+WI&amp;hnear=&amp;radius=15000&amp;t=m&amp;z=13&amp;output=embed"></iframe>
						<br> <small><a
							href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Black+River+Furniture+Outlet,+Wisconsin+54,+Black+River+Falls,+WI&amp;aq=0&amp;oq=black+river+furnitur&amp;sll=37.6,-95.665&amp;sspn=60.867771,135.263672&amp;ie=UTF8&amp;hq=Black+River+Furniture+Outlet,+Wisconsin+54,+Black+River+Falls,+WI&amp;hnear=&amp;radius=15000&amp;t=m&amp;z=13"
							style="color: #fFF; text-align: left">View Larger Map</a></small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end .wrap -->
</div>
<div id="footer" class="footer">
	<div class="wrap">
		<div class="gototop">
			<p>
				<a href="#wrap" rel="nofollow">Top</a>
			</p>
		</div>
		<div class="creds">
			<p>© 2015 · Black River Furniture Outlet</p>
		</div>
	</div>
	<!-- end .wrap -->
</div>