<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />  <!-- This tells mobile devices to default to the device screen size. -->
	<title>Black River Furniture Outlet - Black River Falls Wisconsin</title>

    <link rel="stylesheet" href="css/html5reset-1.6.1.css">
    <link rel="stylesheet" type="text/css" href="scripts/bootstrap-3.3.2-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/youtube.css">
	  
	<script src="scripts/jquery-1.11.2.min.js"></script>
	<script src="scripts/angular.min.js"></script> 
	<script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/tabletop.js"></script> 
	
    <script src="app/app.module.js" type="text/javascript"></script>

    <script src="app/blocks/exception/exception.module.js"></script>
    <script src="app/blocks/exception/exception-handler.provider.js"></script>
    <script src="app/blocks/exception/exception.js"></script>
    <script src="app/blocks/logger/logger.module.js"></script>
    <script src="app/blocks/logger/logger.js"></script>
    
    <script src="app/core/core.module.js" type="text/javascript"></script>
    <script src="app/components/header/headerController.js" type="text/javascript"></script>
    <script src="app/components/footer/footerController.js" type="text/javascript"></script>
    <script src="app/components/brands/brandsController.js" type="text/javascript"></script>
    <script src="app/components/pictures/picSliderController.js" type="text/javascript"></script>
    <script src="app/components/pictures/picModalController.js" type="text/javascript"></script>
    <script src="app/components/youtube/youtubeController.js" type="text/javascript"></script>
    <script src="app/components/google/googleDocsController.js" type="text/javascript"></script>
	
</head>

<body>
    <div id="topOfPage"></div>
    
    <header activeItem="Home" menuItems = "[
                    {caption: 'Home'},
                    {caption: 'Sleep Center'},
                    {caption: 'Bedroom'},
                    {caption: 'Upholstery Gallery'},
                    {caption: 'Dining'},
                    {caption: 'Cabin'},
                    {caption: 'Rugs'},
                    {caption: 'Surplus Outlet', target : 'http://www.blackriversurplus.com/'}
                    ]" > </header> 
        
    <div ng-switch on="activeMenuItem">
	    <div class="largePicSlider" ng-switch-default>
	        <fade-in-slider interval="3000" images="[
	        {src : 'homePage/Black-River-Furniture-Outlet-Store-Front-3.png', title : 'Black River Furniture Outlet'},
	        {src : 'homePage/Sleep-Center-Home-1.png', title: 'Sleep Center'},
	        {src : 'homePage/Dressers-to-the-Sealing-1.png', title: 'Bedroom'},
	        {src : 'homePage/BRF-Upholstery-Gallery-1.png', title: 'Upholstery Gallery'},
	        {src : 'homePage/Black-River-Furniture-Tables.png', title: 'Dining'},
	        {src : 'homePage/Black-River-Cabin-Furniture-Outside-1.png', title: 'Cabin'},
	        {src : 'homePage/Black-River-Falls-Wisconsin-Rugs-1.png', title: 'Rugs'} ]"></fade-in-slider>
	    </div>
	            
        <div class="largePicSlider" ng-switch-when="Sleep Center">
	        <fade-in-slider interval="3000" images="[
            {src : 'sleepCenter/Black-River-Falls-Sleep-Center11.png', title: ''},
            {src : 'sleepCenter/Black-River-Matresses1.png', title: ''},
            {src : 'sleepCenter/BRF-Sleep-Center-Trailer111.png', title: ''},
            {src : 'sleepCenter/Black-River-Falls-Matteress-Sale11.png', title: ''},
            {src : 'sleepCenter/Matress-Choice-at-Black-River-Furniture1.png', title: ''} ]"></fade-in-slider>
        </div>
                
        <div class="largePicSlider" ng-switch-when="Bedroom">
            <fade-in-slider interval="3000" images="[
            {src : 'bedroom/Bedroom-Slide-21.png', title : 'Black River Furniture Outlet'},
            {src : 'bedroom/Bedroom-Slide-11.png', title: ''},
            {src : 'bedroom/Bedroom-Slide-44.png', title: ''},
            {src : 'bedroom/Bedroom-Slide-55.png', title: ''} ]"></fade-in-slider>
        </div>
                
        <div class="largePicSlider" ng-switch-when="Upholstery Gallery">
            <fade-in-slider interval="3000" images="[
            {src : 'upholstery/Recliners-at-BRF-Funiture.png', title: ''},
            {src : 'upholstery/Floor-to-Ceiling-recliners.png', title : ''},
            {src : 'upholstery/Sit-and-Stand-Black-River-Furniture.png', title: ''},
            {src : 'upholstery/Sit-and-Stand-Demo-Black-River-Furniture.png', title: ''} ]"></fade-in-slider>
        </div>
                
        <div class="largePicSlider" ng-switch-when="Dining">
            <fade-in-slider interval="3000" images="[
            {src : 'dining/Black-River-Furniture-Tables.png', title : ''},
            {src : 'dining/Dinning-room-chairs.png', title: ''},
            {src : 'dining/Dinning-room-furniture.png', title: ''},
            {src : 'dining/Dinning-room-sets-at-Black-River-Furniture.png', title: ''} ]"></fade-in-slider>
        </div>
                
        <div class="largePicSlider" ng-switch-when="Cabin">
            <fade-in-slider interval="3000" images="[
            {src : 'cabin/Bedroom-Furniture-Outlet-Black-River-Falls-WI.png', title : ''},
            {src : 'cabin/Cabin-Furniture.png', title: ''},
            {src : 'cabin/Black-River-Cabin-Furntiture-Outlet-Store.png', title: ''} ]"></fade-in-slider>
        </div>
                
        <div class="largePicSlider" ng-switch-when="Rugs">
            <fade-in-slider interval="3000" images="[
            {src : 'rugs/Amazing-Selection-of-Rugs-Black-River-Furniture.png', title : ''} ]"></fade-in-slider>
        </div>
	    
    </div>
            
	<div id="variableContent" class="content"  >
		<div id="contentSection" class="contentSection shadowed rounded">
			<div ng-switch on="activeMenuItem" >
				
				<div ng-switch-default class="content-slider-fadeInOut">
					<h1>
						<strong>Mission Statement:</strong>
					</h1>
					<h1 style="text-align: center;">
						<span style="color: #ff0000;">To be Wisconsin's best priced variety
							furniture store!</span>
					</h1>
					<p style="text-align: right;">
						<strong>SMALL BUSINESS SURVIVES!</strong>
					</p>
					<div style="height: 8px;"></div>
					<br> <strong>Open 7 days a week,</strong> family owned Black River
					Furniture Outlet has been offering furniture in some way for the last 20
					years. We started out with a small section of furniture in our Black River
					Surplus store and have grown to our new location of over 20,000 square feet
					of upholstery, mattresses, dining, entertainment, bedroom, cabin,
					occasional and home office furniture. And we have great deals on rugs too!
					<br>
					<div style="height: 8px;"></div>
					<strong>When it comes to upholstery,</strong> we try to have 50 – 100
					recliners on hand at all times. We have racks of sofas and sectionals set
					up for our customers. Our sleep center offers 25 different styles of
					mattresses. In our dining section we stock drop leaf tables to major dining
					sets both regular and counter height. We always have bedroom sets and
					individual bedroom pieces available. We usually have a reasonable variety
					of closeouts and stock items when it comes to entertainment, home office
					and coffee table sets. The majority of rugs we stock are from Dalton
					Georgia and they are always priced right. <br>
					<div style="height: 8px;"></div>
					<strong>Our cabin furniture</strong> area offers aspen, hickory, pine and
					northern cedar products along with a custom ordering upholstery program.
					It's working out great for our customers because they can get what they
					want at reasonable prices. Nice cabin furniture is expensive, but it
					doesn't have to be as expensive as what our customers have told us about
					and what we've seen. Currently we are committing to a modest interstate
					sign that will read “Cabin Furniture Outlet” on I94. If you've seen this
					sign and you need cabin furniture please stop by. <br>
					<div style="height: 8px;"></div>
					<strong>We are not a high pressure</strong> furniture store. We are a
					customer oriented store that recognizes that you might want to purchase
					today or 6 months from today or whenever. Our goal is to give you
					information, product selection, good pricing and to build a business
					relationship. Our products change weekly as we are a volume business
					continuing to build variety and opportunity for our customers. <br>
					<div style="height: 8px;"></div>
					<strong>Welcome &amp; be invited </strong>if you live in Black River Falls
					or the surrounding area, or if you are passing through, to shop Black River
					Furniture Outlet! Open 7 days a week. Hwy 54 “On The East Side!”
				</div>
				
				<div ng-switch-when="Sleep Center" class="content-slider-fadeInOut">

					<span style="color: #ff0000;"><strong>Black River Furniture
							Outlet is a “Sleep Center!”</strong></span>

					<p>We show over 25 different styles and feels of mattresses everyday!
						We offer a natural contouring spring system with our latex beds. We sell
						the temperature neutral gel beds as well as the traditional visco memory
						foam mattresses. We have the new gel hybrids that combine the cooling
						effects of gel with the feel of springs. We sell pocketed coil mattresses
						that give people the motion separation and the dense feel of foam and
						latex at a great price. Plus we sell the traditional and durable 2-sided
						coil system that&#8217;s been around forever! We even carry a mattress
						that&#8217;s guaranteed to 850lbs!</p>
					<p>At Black River Furniture Outlet we have mattresses for ages 2-12,
						ages 12-18, adult starters, spare bedrooms, cabins and master bedrooms. We
						carry a large inventory and can also order in a timely fashion (1-2
						weeks).</p>
					<p>We also sell ergonomically correct beds or lift beds from the
						promotional style to the deluxe as well as a regular metal frame if
						you&#8217;re just looking for something simple.</p>
					<p>There&#8217;s no reason to suffer another night on your old
						mattress! Come on in to Black River Furniture Outlet so you can get some
						sleep and quit counting sheep!</p>
				</div>
				
				<div ng-switch-when="Bedroom" class="content-slider-fadeInOut">
					<br /> Info to come&#8230;
				</div>
				
				<div ng-switch-when="Upholstery Gallery" class="content-slider-fadeInOut">
					<p>We are an “upholstery gallery” at Black River Furniture Outlet! We
						offer discount to custom ordering at fair to below market prices using 6
						different upholstery lines that include Ashley, Best Home Furnishings,
						Catnapper, Albany, Best Craft and Jackson Manufacturing.</p>
					<p>We always have 50-100 recliners and motion furniture pieces on the
						floor. For customers of smaller stature we have recliners where your feet
						can actually touch the floor and for our large and tall customers we have
						recliners that open to 7 feet and are warrantied to 450 lbs.</p>
					<p>Sectionals and sofas come both as stationary or double reclining.
						The perfect “L” non-reclining sectional is very popular because it wastes
						no space in the corner of the room. Customers with big living rooms often
						prefer the large half moon reclining styles. Folks that like to change
						their arrangement often buy a motion sofa, love and recliner. There’s so
						much to think about! Anyway, we would be more than happy to help you with
						measurements, pictures and quotes if you are replacing your furniture or
						simply redecorating your room.</p>
					<p>So come on in to Black River Furniture Outlet and let us help you
						find your next living room furniture set!</p>
					<p>&nbsp;</p>
				</div>
			
				<div ng-switch-when="Dining" class="content-slider-fadeInOut">
					<p>At Black River Furniture Outlet we always have dining sets, tables,
						individual chairs and bar stools available to buy or order. We sell
						regular height dining as well as counter height dining from discount to
						moderately priced finer sets. Our inventory changes regularly so we get
						different styles from week to week. Whether it’s for the kitchen or the
						regular dining room stop or call us at Black River Furniture Outlet.</p>
				</div>
			
				<div ng-switch-when="Cabin" class="content-slider-fadeInOut">
					<p>At Black River Furniture we dedicate a whole section to log cabin
						furniture as well as “up North” and wildlife design upholstery products.</p>
					<p>We stock aspen, northern cedar, white cedar, pine and hickory
						bedroom and dining furniture. And we are adding to our collection
						everyday! Our stained and unstained aspen sells like crazy and the quality
						workmanship of our builders is excellent! Check out the pictures!</p>
					<p>In our upholstery line we carry Real Tree camo patterns along with
						bear, deer and all kinds of different wildlife and outdoor designs. Our
						upholstery products are custom made in America!</p>
					<p>If you need cabin furniture at reasonable prices, you need Black
						River Furniture Outlet!</p>
				</div>
			
				<div ng-switch-when="Rugs" class="content-slider-fadeInOut">
					<p>We’ve been selling rugs at Black River Furniture Outlet from the
						beginning! We stock 5x8s and 8x10s all of the time. We get the majority of
						our rugs from Dalton Georgia which are regular running line goods and
						discontinued designer line products. We have very nice rugs for reasonable
						prices! Check out some of the gallery pics and when you need a rug shop
						Black River Furniture Outlet!</p>
				</div>
			</div>
		</div>

	    <div ng-controller="googleDocsCtrl as googleCtrl">
			<div data-ng-template="table" class="saleitems">
				<div class="saleitem" data-ng-repeat="item in googleCtrl.items | filter: Active='Yes'" ng-if="item.Pages.indexOf(activeMenuItem) > -1" >  
                    <span class="saleitem_title">{{item.Title}}</span>
					<div class="imgContainer">
					   <img class="responsive-shrinkWidth" ng-src="{{ item.Image }}" />
					</div>
					<span class="saleitem_name">{{item.Product}} {{item.ModelNbr}}</span>
					<div class="saleitem_description" ng-bind="item.Description"></div>
					<div style="margin-top: 10px;">
<!-- 						<button class="btn btn-xs btn-success">Add to Cart</button> -->
						<span class="saleitem_price"> {{item.UnitPrice}}</span>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			
			<div id="contentSection" class="contentSection shadowed rounded">
	            <div class="centered">Our ads.</div>
	            <div style="width: 50%;">
	                <div class="youtubeContainer">
	                    <youtube videoid=""></youtube>
	                </div>
	                <div class="centered">Coming soon - ad 1.</div>
	            </div>
	        </div>
	    </div>
    </div>

	<brands ></brands>

    <footer domain="BRFO" ></footer>  

</body>
</html>