<div id="footerContainer">
	<div id="wrap">
		<div class="footerFloatLeft">
			<h2 style="text-align: center;">
				<span style="color: #ff0000;">Call For Availability </span>
			</h2>
			<h3 style="text-align: center;">
				<span style="color: #ff0000;">&amp; </span>
			</h3>
			<h2 style="text-align: center;">
				<span style="color: #ff0000;">Specials</span>
			</h2>
		</div>
		<div class="footerFloatLeft">
			<h3 style="text-align: center;">
				<span style="text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.66); color: #3677DB;">
				    <div ng-if="footerCtrl.domain == 'BRFO'">
					   W10003 Wisconsin 54, Black River Falls, WI 54615
					</div>
                    <div ng-if="footerCtrl.domain == 'BRSO'">
                       N5933 Wisconsin 54, Black River Falls, WI 54615
                    </div>
				</span>
			</h3>
			<h2 style="text-align: center;">
				<span style="text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.66);; color: #3677DB;">
                    <div ng-if="footerCtrl.domain == 'BRFO'">
                        (715) 284-4001
                    </div>
                    <div ng-if="footerCtrl.domain == 'BRSO'">
                        (715) 284-4003
                    </div>
				</span>
			</h2>
		</div>
		<div class="footerFloatLeft">
			<h3 style="text-align: center;">
				<span style="color: #ff0000;">Store Hours </span>
			</h3>
			<h4 style="text-align: center;">
				<span style="color: #ff0000;">Mon. - Fri. <br> 8 a.m. - 7 p.m.
				</span>
			</h4>
			<h4 style="text-align: center;">
				<span style="color: #ff0000;">Sat. 8 a.m. - 6 p.m.</span>
			</h4>
			<h4 style="text-align: center;">
				<span style="color: #ff0000;">Sun. Noon - 5 p.m.</span>
			</h4>
		</div>
		<div class="footerFloatRight footerPadRight">
		  <div ng-switch on="footerCtrl.domain">
			<iframe ng-switch-default
				ng-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2855.261906592165!2d-90.811392!3d44.30456600000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880109046ef38b41%3A0x286f73ee3c0042b3!2sBlack+River+Furniture+Outlet!5e0!3m2!1sen!2sus!4v1423715345429"
				width="235" height="200" frameborder="0" style="border: 0"></iframe>
            <iframe ng-switch-when="BRSO"
                ng-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2856.173384186569!2d-90.86804599999999!3d44.285823!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87fee701dcbef18f%3A0xb1a881b9c10a15a3!2sBlack+River+Surplus+Outlet!5e0!3m2!1sen!2sus!4v1424641101697"
                width="235" height="200" frameborder="0" style="border: 0"></iframe>
		  </div>
		</div>
	</div>
	<div id="footerBottom">
		<div class="footerFloatLeft gototop">
			<a href="##topOfPage" rel="nofollow">Top</a>
		</div>
        <div ng-if="footerCtrl.faceBookAddress" class="footerFloatLeft">
          See us on <a href="{{footerCtrl.faceBookAddress}}" target="_blank"> <img style="width: 24px; height: auto;" src="https://www.facebookbrand.com/img/assets/asset.f.logo.lg.png" />Facebook</a>
        </div>
		<div class="creds">
            <div ng-if="footerCtrl.domain == 'BRFO'">
                © 2015 · Black River Furniture Outlet
            </div>
            <div ng-if="footerCtrl.domain == 'BRSO'">
                © 2015 · Black River Surplus Outlet
            </div>
		</div>
	</div>
</div>
