<div class="picSliderContainer">
	<div id="animatedPic" ng-repeat="pic in sliderCtrl.sliderImages track by $index">
          <div ng-if="sliderCtrl.sliderImages != null">
                <div class="imgContainer">
                    <div ng-controller="picModalCtrl as picModalCtrl">
                        
                        <img ng-class="[responsive-shrinkWidth,rounded,sliderCtrl.sliderAnimation]" 
                          ng-show="sliderCtrl.sliderIndex == $index" title="{{pic.title}}"
                          ng-src="{{pic.src}}" ng-click="picModalCtrl.toggleModal()" />
                          
                        <modal-dialog show="picModalCtrl.modalShown" width="95%" height="auto">
                        
                        <img ng-src="{{pic.src}}" 
                            ng-click="picModalCtrl.toggleModal()" /> </modal-dialog>
                    </div>
                </div>
          </div>
	</div>
</div>