<div class="picSliderContainer">   
    <a class="sliderToggle" href="#" ng-click="sliderCtrl.toggleTimer()" >{{sliderCtrl.sliderOnOff}}</a>
	<div id="animatedPic" ng-repeat="pic in sliderCtrl.sliderImages track by $index">
          <div ng-if="sliderCtrl.sliderImages != null">
                <div class="imgContainer">
                    <a class="arrow prev" href="#" ng-click="sliderCtrl.sliderNextClick()"></a>
                    <a class="arrow next" href="#" ng-click="sliderCtrl.sliderPrevClick()"></a>
                    
                    <div ng-controller="picModalCtrl as picModalCtrl">
                        <img class="responsive-shrinkWidth rounded sliderImage" ng-class="[sliderCtrl.sliderAnimation]" 
                          ng-show="sliderCtrl.sliderIndex == $index" title="{{pic.title}}"
                          ng-src="{{pic.src}}" ng-click="sliderCtrl.showItemDetail()" />
                          
                        <modal-dialog show="picModalCtrl.modalShown" width="95%" height="auto">
	                        <img ng-src="{{pic.src}}" 
	                            ng-click="picModalCtrl.toggleModal()" /> 
                        </modal-dialog>
                    </div>
                </div>
          </div>
	</div>
</div>