<div>
	<input ng-model="query" type="text" placeholder="Type here to search" style="padding-left: 150px;" />
    <select ng-model="categories" type="text" ng-options="category for category in productsCtrl.categories" >
        <option value=""> </option>
    </select>
	
	<div data-ng-template="table" class="responsive-shrinkWidth">
		<div class="inline-bordered-300px"
			data-ng-repeat="item in productsCtrl.products | filter: Active='Yes' | filter: query | filter: categories | limitTo: productsCtrl.maxVisible">
	
			<span class="product_title">{{item.Title}}</span>
	
			<div class="imgContainer">
				<div ng-controller="picModalCtrl as picModalCtrl">
					<img class="responsive-shrinkWidth" ng-src="{{ item.Image }}" ng-click="picModalCtrl.toggleModal()" />
					<modal-dialog show="picModalCtrl.modalShown" width="95%" height="auto">
					   <img ng-src="{{ item.Image }}" ng-click="picModalCtrl.toggleModal()" /> 
					</modal-dialog>
				</div>
			</div>
	
			<div class="product_name">{{item.Product}}</div>
			
			<div class="product_modelNbr" ng-if="item.ModelNbr">Model: {{item.ModelNbr}}</div>
			
			<div class="product_description" ng-bind-html="item.Description"></div>
			
			<div style="margin-top: 10px;">
				<span class="product_price"> {{item.UnitPrice}}</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
